body{
    padding:0 10% 0 10%;
    color:#90949c;
    margin:0px;
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
}
h3{
    font-size: 1rem;
}
h4{
    font-size: 0.8rem;
}
.main{
    margin:0 auto;
    width: 100%;
    /*border: 2px solid black;*/
    /*height: 1000px;*/
    text-align: center;
}
#navUp{
    position: fixed;
    right: 15%;
    top: 90%;
}
.container{
    height: 100%;
    width: 100%;
    display: inline-flex;
}
/*left*/
.left-col{
    /*background: red;*/
    border-right:1px solid #90949c;
    /*height: 100%;*/
    width: 15%;
    margin-right: 5%;
    text-align: left;
    font-size: 15px;
}
.left-nav{
    /*background: aqua;*/
    margin:40% 10% 10% 10%;
    border-left: 2px solid #3b5998;
}
.left-nav > a{
    margin:0 0 0 10%;
    color:#90949c;
    cursor: pointer;
}
a:hover{
    color:black;
}
/*right*/
.right-col{
    /*background: blue;*/
    height: 100%;
    width: 20%;
    line-height: 1.5rem;
}
.selfie{
    width:80%;
}
.contact{
    padding-left: 10% ;
    text-align: left;
    font-size: 15px;
}
.skills{
    font-size: 0.7em;
    text-align: left;
    padding: 10%;
}
.skills > p{
    margin: 0px;
}
.progress{
    margin:0 0 10% 0;
}


/*middle*/
.box{
    /*margin-bottom: 5%;*/
    /*padding:10px;*/
    /*background: aliceblue;*/
    text-align: left;
}

.center-col{
    /*background: yellow;*/
    /*height: 100%;*/
    width: 55%;
    margin-right: 5%;
    /*border:1px solid black;*/

}

#selfIntro{
    margin: 5% 1% ;
    font-size: 0.7em;
    line-height:1.7em;
}
#education{
    margin: 5% 1% ;
    font-size: 0.7em;
}
#projects{
    margin: 5% 1% ;
    font-size: 0.7em;
}
#experience{
    margin: 5% 1% ;
    font-size: 0.7em;
    line-height: 1.7em;
}
.col{
    margin-bottom: 5%;
    width:100%;
    border: 1px solid black;
    display: inline-flex;
}
.col > .logo{
    width: 20%;
    text-align: center;
    /*background: yellow;*/
}
.logo > img{
    width:80%;
}
.col > .text{
    width: 70%;
    margin-left: 2rem;
    line-height: 1.5rem;
    /*background: blue;*/
}
.col > .gameDisplay{
    width: 40%;
    background:red;
}
.gameDisplay >img{
    width:80%;
}
.text > h4{
    margin: 0px;
}